<form class="create-book-form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <h2 class="page-title">Save book</h2>
  <div class="form-element">
    <input class="input" type="text" formControlName="title" placeholder="Title">
    <div *ngIf="!bookForm.get('title')?.valid && bookForm.get('title')?.touched" class="error">
      Title is required
    </div>
  </div>

  <div class="form-element">
    <input class="input" type="text" formControlName="author" placeholder="Author">
    <div *ngIf="!bookForm.get('author')?.valid && bookForm.get('author')?.touched" class="error">
      Author is required
    </div>
  </div>

  <div class="form-element">
    <input class="input" type="text" formControlName="content" placeholder="Content">
    <div *ngIf="!bookForm.get('content')?.valid && bookForm.get('content')?.touched" class="error">
      Content is required
    </div>
  </div>

  <div class="form-element">
    <input class="input" type="text" formControlName="genre" placeholder="Genre">
    <div *ngIf="!bookForm.get('genre')?.valid && bookForm.get('genre')?.touched" class="error">
      Genre is required
    </div>
  </div>

  <div class="form-element">
    <label class="text-label">Image cover: </label>
    <input (change)="setFormFile($event)" type="file" accept="image/*">
    <div *ngIf="bookCover === ''" class="error">
      Cover image is required
    </div>
  </div>

  <p-button type="submit" [disabled]="bookForm.invalid || bookCover === ''">Submit</p-button>
</form>